@import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i');


body {
    font-family: 'Google Sans', 'Ubuntu', 'Roboto', sans-serif;
    background-image: url("wall.jpg");
    background-size: cover;
    /* background: #1D1F28; */
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-size: 50pt;
    font-weight: 400;
    color: #FDFDFD;
    margin-bottom: .25em;
}

#search-field {
    width: 95%;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #424450;
    border: solid 5px #424450;
    font-size: 14pt;
    color: #FDFDFD;
    outline: none;
    border-radius: 6px;
    text-align: left;
}

.welcome-container {
    width: 25%;
    background-color: #282A36;
    padding: 1em;
    border-radius: 6px;
    font-size: 13pt;
    font-weight: 500;
    color: #FDFDFD;
    text-align: center;
}

.search-bar {
    width: 100%;
}

.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 55%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }

    #clock {
        margin-top: 1em;
    }
    .welcome-container {
        width: 60%;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 50%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set {
    padding: 1em;
    background-color: #282A36;
    color: #BEBEC1;
    border-radius: 6px;
    font-size: 12pt;
    width: 15%;
    height: 12.8em;
    margin: 0em .5em;
}

.bookmark-inner-container {
    overflow-y: hidden;
    height: 80%;
    vertical-align: top;
}

.bookmark-title {
    font-size: 13pt;
    font-weight: 500;
    color: #FDFDFD;
    margin: 0em 0em .35em 0em;
}

.bookmark {
    text-decoration: none;
    color: #BEBEC1;
    display: block;
    margin: .5em 0em;
}

.bookmark:hover {
    color: #FDFDFD;
}
